
* {
  box-sizing: border-box;
  margin: 0;
}

header {
  position: fixed;
  background-color: white;
  z-index: 100;
  width: 100%;
}

#search-section {
  font-size: large;
  padding: 30px;
}

#show-select {
  width: 400px;
  height: 40px;
  font-size: medium;
  margin-left: 30px;
}

#episode-select {
  width: 400px;
  height: 40px;
  font-size: medium;
  margin-left: 30px;
}

#search-input {
  width: 200px;
  height: 40px;
  font-size: medium;
  margin-left: 100px;
}

#search-label {
  padding-left: 30px;
}

#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
  padding-top: 100px;
}


.card {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #b8aaaa;
  padding: 16px;
  border-radius: 12px;

  height: 100%;
}


.card img {
  width: 100%;
  height: 200px;       
  object-fit: cover;  
  border-radius: 8px;
}


.card h3 {
  text-align: center;
}


.card p {
  flex-grow: 1; 
}
