
* {
  box-sizing: border-box;
  margin: 0;
}


#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
}


.card {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #b8aaaa;
  padding: 16px;
  border-radius: 12px;

  height: 100%;
}


.card img {
  width: 100%;
  height: 200px;       
  object-fit: cover;  
  border-radius: 8px;
}


.card h3 {
  text-align: center;
}


.card p {
  flex-grow: 1; 
}
